<p>
  <strong>Title: Challenge</strong>
</p>
 
<p>
  <strong>Text:</strong>
</p>
 
<h2>Add a tweet:</h2>
  <p>
    <%= label :commenter %><br />
    <%= text_field :commenter %>
  </p>
  <p>
    <%= label :body %><br />
    <%= text_area :body %>
  </p>
  <p>
    <%= submit %>
  </p>